<h2>User</h2>     
<table>           
	<%= render partial: 'table_head' %>
	
	<%= render partial: 'post', 
		locals: {
			url: "/users/sign_in.json",
			data: { 'user[email]' => 'admin@web_app.com', 'user[password]' => '12345678' },
			file: {},
			note: "login"
		}          
	%>              

              
	<%= render partial: 'post', 
		locals: {
			url: "/users/sign_out.json",
			data: { '_method'	=> 'delete' },
			file: {},
			note: "logout"
		}          
	%> 
	
	<%= render partial: 'post', 
		locals: {
			url: "/users.json",
			data: { 'user[email]' => 'user@web_app.com', 'user[password]' => '12345678', 'user[password_confirmation]' => '12345678', 'user[nickname]' => 'user', 'user[user_setting_attributes][term_agree]' => 'true', 'user[user_setting_attributes][email_agree]' => 'false' },
			file: {},
			note: "join"
		}          
	%>  
	
	<%= render partial: 'post', 
		locals: {
			url: "/users/[id].json",
			data: { '_method' => 'put', 'user[nickname]' => 'user' },
			file: {},
			note: "edit user"
		}          
	%>   
	
	<%= render partial: 'post', 
		locals: {
			url: "/users/[id]/password.json",
			data: { '_method' => 'put', 'user[current_password]' => '', 'user[password]' => '', 'user[password_confirmation]' => '' },
			file: {},
			note: "edit password"
		}          
	%>     
                    
	<%= render partial: 'get',
		locals: {
			url: "/users.json",
			data: {},
			page: true,
			note: ""
		}
	%> 
	
	<%= render partial: 'get',
		locals: {
			url: "/users/1.json",
			data: {},
			page: false,
			note: ""
		}
	%>  
	
	<%= render partial: 'get',
		locals: {
			url: "/users/1/user_setting.json",
			data: {},
			page: false,
			note: ""
		}
	%>
	
	<%= render partial: 'post', 
		locals: {
			url: "users/[id]/user_setting.json",
			data: { '_method' => 'put', 'user_setting[do_not_post_sns_with]' => 'facebook,twitter', 'user_setting[do_not_post_sns_when]' => 'like', 'user_setting[do_not_email_me_when]' => 'all', 'user_setting[do_not_phone_push_when]' => '', 'user_setting[email_agree]' => 'true' },
			file: {},
			note: "edit user_setting. do_not_XXX 에 대해서는 ,(콤마)로 구분한다. all을 쓸수 있다."
		}          
	%>    
	
	<%= render partial: 'get',
		locals: {
			url: "/users/email_check.json",
			data: { 'email' => 'blah@example.com' },
			page: false,
			note: "이메일 중복검사"
		}
	%>
</table>