<%= form_for(@user, :url => {:action => :update}, :html => { :method => :put }) do |f| %>  
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user_setting from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  

   
	
	<% Authentication::PROVIDER_TYPES.keys.each do |provider| %>
		<%= provider %>:
		<% auth = @user.authentications.where(provider: provider).first %>
		<% if auth.present? %>
	  	<%= auth.nickname %>
			<%= link_to 'X', authentication_path(auth), method: :delete %>
		<% else %>
			<%= link_to 'click', "/auth/#{provider}" %>
		<% end %>
	<% end %>
	
	


	

  <div><%= f.submit "Update" %></div>
<% end %>

