<!DOCTYPE html>
<html>
<head>
  <title>WebApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	<div>
		<% if user_signed_in? %>
		  <%= link_to current_user.email + "님", edit_user_path(current_user) %> |
		  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to 'Sign in', new_user_session_path %>
		<% end %>
	</div>

<%= yield %>

</body>
</html>
